@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    height: 40vh;
    background-size: cover;
    padding: 10px;
    margin: 10px;
}

.top-head {
    color: #5a7184;
    font-size: 18px;
    padding: 3px;
}

.main-heading {
    color: #ffffff;
    font-family: "roboto";
    font-size: 30px;
    margin: 3px;
}

.bottom-section {
    text-align: center;
    background-color: #ffffff;
    padding: 24px;
}

.card-box {
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
}

.card-image {
    height: 20vh;
    background-size: cover;
    padding: 5px;
}

.bottom-heading {
    color: #151765;
    font-size: 18px;
    font-family: "roboto";
    font-weight: bold;
    margin: 5px;
}

.bottom-para {
    font-family: "roboto";
    padding: 5px;
    font-size: 17px;
    color: #5a7184;
}

.head {
    color: #ffffff;
}

.top-head {
    color: #ffffff;
    font-weight: bold;
    font-family: "roboto";
    font-size: 18px;
}

.top-para {
    color: #ffffff;
    font-family: "roboto";
    font-size: 12px;

}

.card-container {
    background-color: #151765;
    margin: 5px;
    padding: 8px;
}

.bg-card {
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.top-heading {
    color: #151765;
    font-size: 22px;
    font-weight: bold;
}



.top-para1 {
    color: #151765;
    font-size: 20px;
    font-weight: bold;
}

.but {
    border-radius: 15px;
    background-color: #131765;
    color: #ffffff;
    border-width: 0px;
    height: 35px;
    width: 90px;
    margin: 8px;
}